# Server
NODE_ENV=production

# Database
DATABASE_URL=

# JWT
JWT_SECRET=
REFRESH_TOKEN_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=/auth/google/callback

# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_CALLBACK_URL=/auth/kakao/callback

# Naver OAuth
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_CALLBACK_URL=/auth/naver/callback
